h3{
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
/* grid template columns */
.grid-template-columns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px;
    grid-gap: 15px;
    padding: 10px;
    background-color: purple;

}
 .item{
    background-color: peachpuff;
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
}
/* grid column start */
.grid-column-start{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    padding: 10px;
    background-color: salmon;
}
.grid-column-start .item:nth-child(1){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-column-start .item:nth-child(2){
    grid-column-end: 4;
}
.grid-column-start .item:nth-child(5){
    grid-row-start: 1;
}
.grid-column-start .item:nth-child(8){
    grid-row-end: 2;
}
/* grid template areas */
.grid-template-areas{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:15px;
    padding: 10px;
    background-color: salmon;
    grid-template-areas: "header header header . .";
}
.grid-template-areas .item:nth-child(2){
    grid-area: header;
    grid-column-start:2;
}
/* grid area */
.grid-area{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:15px;
    padding: 10px;
    background-color: salmon;
}
.grid-area .item:nth-child(5){
    grid-area: 2 / 2 / 3 /4;
}
/* grid template */
.grid-template{
    display: grid;
    grid-template: 300px / auto auto auto auto;
    grid-gap: 15px;
    padding: 10px;
    background-color: sandybrown;
}
/* justify self */
.justify-self{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:15px;
    padding: 10px;
    background-color: salmon;
}
.justify-self .item:nth-child(1){
    justify-self: left;
}
/* align self */
.align-self{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:15px;
    padding: 10px;
    background-color: salmon;
}
.align-self .item:nth-child(8){
    align-self: center;
    padding: 0px;
}
/* place-self */
.place-self{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
}
.place-self .item:nth-child(7){
    place-self: start center;
    padding: 0px;
}
/* justify-items */
.justify-items{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    justify-items: start;
}
/* align-items */
.align-items{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    align-items: center;
    height: 200px;
    
}
.align-items .item{
    font-size: 20px;
    padding: 0px 0px;
}
/* place items */
.place-items{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    place-items: center;
    height: 200px;
}
.place-items .item{
    font-size: 20px;
    padding: 0px 0px;
}
/* justify-content */
.justify-content{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    justify-content: center;
}
/* align-content */
.align-content{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    align-content: center;
    height: 300px;
}
/* place-content */
.place-content{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 15px;
    padding: 10px;
    background-color: sandybrown;
    place-content: center;
    height: 300px;
}
/* grid-auto-columns */
.grid-auto-columns{
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 90px;
    gap:15px;
    background-color: sandybrown;
    padding: 10px;
    grid-auto-columns: 60px;
}
.grid-auto-columns .item:nth-child(5){
    grid-column: 5 / 6;
    grid-row: 1/2;
}
.grid-auto-columns .item:nth-child(6){
    grid-column: 6 / 7;
    grid-row: 2/3;
}
/* grid auto flow */
.grid-auto-flow{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px;
    gap:15px;
    background-color: sandybrown;
    padding: 10px;
    grid-auto-flow: row;
}
.grid-auto-flow .item:nth-child(1){
    grid-column: 1;
    grid-row: 1/3;
}
.grid-auto-flow .item:nth-child(5){
    grid-column: 5;
    grid-row: 1/3;
}
/* grid */
.grid-grid{
    display: grid;
    grid:100px 300px/ auto 200px auto;
    background-color: sandybrown;
    gap: 15px;
    padding: 10px;
}





/* animation */
/* .grid{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 200px;
    grid-gap: 20px;
    transition: all 1s;
}
.grid--full{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-gap:10px;
}
article{
    background-color: #D73B38;
    color: #fff;
    margin: 20px 0;
    padding: 14px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.js-button{
    padding: 20px;
    background-color: #123456;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
} */